<div data-v-a9660e98="" class="game-head">
    <div data-v-a9660e98="" class="total-box">
        <!-- <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
            <div data-v-a9660e98="" class="c-row c-row-middle">
                <div data-v-a9660e98="" class="m-r-10">
                    <div data-v-a9660e98="" class="van-image" style="width: 60px; height: 60px">
                         <img src="/images/icon_wallet.webp" class="van-image__img" /> 
                    </div>
                </div>
                <div data-v-a9660e98="">
                    <h3 data-v-a9660e98="" class="total m-b-5">Total</h3>
                    <span data-v-a9660e98="" class="wallet">Balance</span>
                </div>
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
                <div data-v-a9660e98="" class="num">
                    <span data-v-a9660e98="">₹ 0.00 </span>
                </div>
                <div data-v-a9660e98="" class="van-image img m-l-10 reload_money" style="width: 15px; height: 15px">
                    <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
                </div>
            </div>
        </div> -->
        <div data-v-ed6673b8="" class="Wallet__C-balance-l1"><div data-v-ed6673b8="" class="num"><span data-v-a9660e98="" class="moneyU">₹ 0.00 </span></div></div>
        <div data-v-ed6673b8="" class="Wallet__C-balance-l2"><div data-v-ed6673b8="">Wallet balance</div></div>
        <div data-v-a9660e98="" class="total-btn c-row c-row-between" style="margin-top: 10px;">
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="
       background: #fff;
    border-radius: .53333rem;
    border: .01333rem solid #ff9901;
    color: #eb8a1f;
        
      ">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Withdraw
                        </span>
                    </div>
                </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="
        color: rgb(255, 255, 255);
        background: #ff9901;
        border-radius: .53333rem;
        border: .01333rem solid #fff;
      ">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Deposit
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="m-t-15 notice">
        <div data-v-a9660e98="" role="alert" class="van-notice-bar">
           
                <svg  style="width: .42667rem;
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                height: auto;
                margin-right: .22667rem"width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="notice_svg"><g clip-path="url(#clip0_589_37747)"><path d="M15.9993 4V28C11.3327 28 7.86502 21.8927 7.86502 21.8927H3.99935C3.26297 21.8927 2.66602 21.2958 2.66602 20.5594V11.3405C2.66602 10.6041 3.26297 10.0072 3.99935 10.0072H7.86502C7.86502 10.0072 11.3327 4 15.9993 4Z" fill="url(#paint0_linear_589_37747)"></path><path d="M21.334 10C21.7495 10.371 22.1261 10.7865 22.4567 11.2392C23.4265 12.5669 24.0007 14.2149 24.0007 16C24.0007 17.7697 23.4363 19.4045 22.4819 20.7262C22.1452 21.1923 21.7601 21.6195 21.334 22" stroke="url(#paint1_linear_589_37747)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path><path d="M22.8242 27.4571C26.7227 25.1302 29.3336 20.87 29.3336 16C29.3336 11.2057 26.8031 7.00234 23.005 4.65271" stroke="url(#paint2_linear_589_37747)" stroke-width="1.8" stroke-linecap="round"></path></g><defs><linearGradient id="paint0_linear_589_37747" x1="9.33268" y1="4" x2="9.33268" y2="28" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7C7C"></stop><stop offset="0.74876" stop-color="#F54545"></stop></linearGradient><linearGradient id="paint1_linear_589_37747" x1="22.6673" y1="10" x2="22.6673" y2="22" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7C7C"></stop><stop offset="0.74876" stop-color="#F54545"></stop></linearGradient><linearGradient id="paint2_linear_589_37747" x1="26.0789" y1="4.65271" x2="26.0789" y2="27.4571" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7C7C"></stop><stop offset="0.74876" stop-color="#F54545"></stop></linearGradient><clipPath id="clip0_589_37747"><rect width="32" height="32" fill="white"></rect></clipPath></defs></svg>
           
            <div role="marquee" class="van-notice-bar__wrap">
                <div class="van-notice-bar__content" style="">
                    Our customer service never send a link to the member,if you received a link from someone who pro-claimed as THE 24 LOTTERY customer service do not click the link to prevent being hack or lost data. Thank you
                </div>
            </div>
            <button style="display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            gap: .06667rem;
            width: 2rem;
            height: .66667rem;
            margin-left: auto;
            color: #fff;
            border: none;
            border-radius: .53333rem;
            
            background: #eb8a1f;"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_589_37755)"><path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01"></path><path d="M12 22C16.1173 22 19.4999 18.7371 19.4999 14.5491C19.4999 13.5209 19.4476 12.4187 18.8778 10.7058C18.3079 8.9929 18.1931 8.7718 17.5905 7.71395C17.333 9.8727 15.9555 10.7724 15.6055 11.0413C15.6055 10.7615 14.7722 7.66795 13.5088 5.81695C12.2685 4 10.5817 2.80796 9.59265 2C9.59265 3.53489 9.16095 5.81695 8.5427 6.9797C7.92445 8.14245 7.80835 8.1848 7.0361 9.0501C6.2639 9.9154 5.90945 10.1826 5.2637 11.2325C4.61798 12.2825 4.5 13.6809 4.5 14.7091C4.5 18.8971 7.88265 22 12 22Z" fill="white"></path></g><defs><clipPath id="clip0_589_37755"><rect width="24" height="24" fill="white"></rect></clipPath></defs></svg> Detail</button>
        </div>
    </div>
</div>